{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}} - Shiksha</title>
    <link rel='stylesheet' href='/static/css/main.css'>
</head>

<body>
    <header class="navbar">
        <h1>Shiksha</h1>
    </header>
    <section>
        {{template "body" .}}
    </section>

    <script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html>
{{end}}