services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    env_file:
      - ./.env
    volumes:
      - ./database/postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  go-app:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: go_app_connector
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
    env_file:
      - ./.env
    ports:
      - "${SRV_PORT}:${SRV_PORT}"
    networks:
      - app-network

volumes:
  postgres_data:

# Define the custom network for stable service resolution and IP assignment
networks:
  app-network:
    driver: bridge